@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ffffff;
    --main-color: rgb(102, 202, 230);

    /*  #0ef  #12fd92 */
}

.light-theme{
    --bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --text-color: #000;
    --main-color: rgb(35, 161, 170);
}

html {
    font-size: 62.5%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: none;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}


#sw-icon{
    font-size: 2.6rem;
    color: var(--second-bg-color);
    
}

.switch{
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--main-color);
    position: fixed;
    bottom: 2%;
    right:  2%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 1rem var(--main-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 9%;
    /* 0.5rem 8% */
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    cursor: default;

}

.logo img {
    width: 4vw;
    top: 0;
    border: 0;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    padding: 0 9%;
}


/* ---------- Home ----------  */
.home {
    padding: 15rem 9% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius:15%;

}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;
}


/* ---------- About ----------  */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
}

.about-img img {
    width: 20vw;
    border-radius: 5%;
}

.heading {
    position: relative;
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 3rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0;
}


/* ---------- Skills ----------  */
.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-column .skills-box{
    position: relative;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 75%;
}

/* .skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 60%;
} */

/* .skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 65%;
} */


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 85%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 75%;
}

/* .skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 90%;
} */


/* ---------- Certificate ----------  */
.certificate {
    background: var(--second-bg-color);
    min-height: auto;
}

.certificate h2 {
    margin-bottom: 4rem;
}

.certificate-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.certificate-container .certificate-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.certificate-box img {
    width: 100%;
    transition: .5s ease;
}

.certificate-box:hover img {
    transform: scale(1.1);
}

.certificate-box .certificate-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.certificate-box:hover .certificate-layer {
    transform: translateY(0);
}

.certificate-layer h4 {
    font-size: 3rem;
}

.certificate-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.certificate-layer p a {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    display: inline;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border-radius: 0;
}

.certificate-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--text-color);
    border-radius: 50%;
}

.certificate-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* ---------- Contact ----------  */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: auto;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    width: 100%;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* hide increase icon */
.contact form .input-box input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* ---------- Footer----------  */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/*Breakpoints*/
@media (max-width:1550px){
    html {
        font-size: 50%;
    }
}
@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .certificate-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2.5rem;
    }

    .certificate {
        padding-bottom: 7rem;
    }
}

@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }

    .selection {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .certificate {
        padding-bottom: 7rem;
    }

    .certificate-box p,
    .certificate-box p a {
        font-size: 1.4rem;
    }

    .certificate-box h4 {
        font-size: 2.6rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}
@media (max-width:812px){
    .certificate-box p,
    .certificate-box p a {
        font-size: 1.3rem;
    }

    .certificate-box h4 {
        font-size: 2.5rem;
    }
}
@media (max-width:768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 3%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: .25s;
        /* display: none; */
    }

    .navbar.active {
        /* display: block; */
        left: 0;
        transition-delay: 0s;
        z-index: 1;
    }

    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem); 
        transition: .25s ease;
        transition-delay: 0s;
    }
    
    .navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 30vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .certificate h2 {
        margin-bottom: 3rem;
    }

    .certificate-container {
        grid-template-columns: 1fr;
    }

    .certificate-box p,
    .certificate-box p a {
        font-size: 1.6rem;
    }

    .certificate-box h4 {
        font-size: 3rem;
    }


}


@media (max-width:617px) {
    .certificate-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width:450px) {
    html {
        font-size: 40%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width:365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

}

/* --------- cursor -------- */
.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim 0.5s infinite alternate;
    pointer-events: none;
    z-index: 999;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: 0.5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* .expand {
    animation: cursorAnim3 0.5s forwards;
    border: 1px solid red;
} */